<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragments/header :: header-css"/>
</head>

<body>
<div th:replace="fragments/header :: header"/>

<div class="container">

	<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="registration"
				type="Submit">Logout</button>
		</form>


	<div class="panel-group" style="margin-top:40px">
			<div class="panel panel-primary">
			  <div class="panel-heading">
					
		           </div>
                            <p class="admin-message-text text-center">Запит відправлено</p>
			</div>
		</div>
		
	</div>
</body>
</html>