<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>
<div class="container">
    <div class="row">
       
            <form autocomplete="off" action="#" th:action="@{/admin/requestGuarantee}"
                  th:object="${myUploadForm}" method="post" class="form-horizontal"
                  role="form" enctype="multipart/form-data">
                <br/>
                <h2>Запит на отримання банківської гаранатії</h2>

                <div class="row">
                     <div class="col">
                         <small id="sm_fio" class="form-text text-muted">ПІБ</small>
                            <input type="text" th:value="${fio}" class="form-control" id="fio" aria-describedby="subAgentHelp" readonly>
                      </div>
                </div>

                
                 <div class="row">
                   <div class="col">
                            <small id="sm_mail" class="form-text text-muted">Email</small>
                            <input type="text"  th:value="${email}" class="form-control" id="email_oper" aria-describedby="subAgentHelp" readonly >
                        </div>    
                </div>
                
              
               <div class="form-group">
                    <label for="amount">Сума</label>
                    <input type="text" th:field="*{amount}" class="form-control" aria-describedby="amountHelp" id="amount" placeholder="0.00">
                    <label th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"
								class="validation-message"></label>  
                     
                   
                </div>



                <div class="custom-file">
                    <label class="custom-file">
                        <input type="file" id="myfile1" class="custom-file-input" onchange="$(this).next().after().text($(this).val().split('\\').slice(-1)[0])">
                        <span class="custom-file-control"></span>
                    </label>
                    <input type="file" class="custom-file-input" id="customFile1">
                    <label class="custom-file-label" for="customFile1">Виберить файл</label>
                </div>

                <div class="custom-file">
                    <label class="custom-file">
                        <input type="file" id="myfile2" class="custom-file-input" onchange="$(this).next().after().text($(this).val().split('\\').slice(-1)[0])">
                        <span class="custom-file-control"></span>
                    </label><input type="file" class="custom-file-input" id="customFile2">
                    <label class="custom-file-label" for="customFile2">Виберить файл</label>
                </div>

                <div class="custom-file">
                    <label class="custom-file">
                        <input type="file" id="myfile3" class="custom-file-input" onchange="$(this).next().after().text($(this).val().split('\\').slice(-1)[0])">
                        <span class="custom-file-control"></span>
                    </label>
                    <input type="file" class="custom-file-input" id="customFile3">
                    <label class="custom-file-label" for="customFile3">Виберить файл</label>
                </div>


                <div class="form-group">
                     <label for="cooment">Коментар </label>
                   <textarea class="form-control" th:field="*{cooment}" id="cooment" rows="3"></textarea>
                   <small id="coomentHelp" class="form-text text-muted">Коментар виконавця</small>
                </div>
                
                
                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Відправити запит</button>
                    </div>
                </div>




            </form>
       
    </div>
</div>


<div th:replace="fragments/footer :: footer"/>

</body>
</html>